---

name: 'Reusable Workflow'

on: 'workflow_call'

jobs:
  rj1:
    steps:
      - name: composite include
        uses: ./action.yaml

  rj2:
    environment: terraform
    steps:
      - name: composite include subdir with environment
        uses: ./component/action.yaml
