---

name: 'Reusable Workflow'

on: 'workflow_call'

jobs:
  rj1:
    runs-on: ubuntu-latest
    steps:
      - name: Dump vars context
        shell: bash
        run: echo '${{ toJSON(github) }}'
      - name: composite include
        uses: mib-unimelb/action-wf-test@main

  rj2:
    needs: rj1
    runs-on: ubuntu-latest
    environment: terraform
    steps:
      - name: Dump vars context
        shell: bash
        run: echo '${{ toJSON(github) }}'
      - name: composite include subdir with environment
        uses: mib-unimelb/action-wf-test/component@main
