---

name: 'Reusable Workflow'

on: 'workflow_call'

jobs:
  rj1:
    runs-on: ubuntu-latest
    steps:
      - name: composite include
        uses: mib-unimelb/action-wf-test@main

#  rj2:
#    environment: terraform
#    steps:
#      - name: composite include subdir with environment
#        uses: mib-unimelb/action-wf-test/component@main
